body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #d3e7d3;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
  text-align: left; /* Alinhar o texto à esquerda */
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #333;
}

.sidebar nav ul li a:hover {
  text-decoration: underline;
}

.content {
  margin-left: 220px; /* Adicionar margem para que o conteúdo não fique sob a sidebar */
  padding: 20px;
  background-color: #fff;
  border-left: 2px solid #d3e7d3;
}

.content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 15px;
}
